/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222222;
  font-size: 62.5%;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #ffffff !important;
    color: #000000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==================================================================================================  */

*,
::after,
::before {
  box-sizing: border-box;
}

/*
*  fonts
*/

.container {
  max-width: 103rem;
  margin: 0 auto;
}

/*
* page
*/

.page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  /*background-color: black;*/
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  background-image: url(/img/background.jpg);
  background-position: center -3rem;
  background-repeat: repeat-x;
}

.page__inner {
  display: flex;
  justify-content: space-between;
}

.page__header {
  margin-bottom: 4.2rem;
  height: 9.9rem;
}

.page__content {
  max-width: 60rem;
  padding-bottom: 6.7rem;
  flex-shrink: 3;
}

.page__aside {
  padding-bottom: 3.8rem;
  flex-shrink: 5;
}

.page__profit {
  height: 22rem;
}

/*
 * header
*/

.header {
  display: flex;
  align-items: flex-end;
}

.header__logo {
  width: 26.6rem;
}

/*
* navigation
*/

.navigation__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  display: block;
}

/*
* main
*/

.content {
  color: white;
}

.content__title {
  margin: 0 0 1.9rem 0;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

.content__video {
  max-height: 33.8rem;
  background: white;
}

.content__text {
  font-size: 1.8rem;
  margin: 0 0 3.1rem;
}

/*
*aside
*/

.aside {
  /*display: flex;*/
  /*flex-direction: column;*/
}

.aside__enroll {
  margin-bottom: 2.2rem;
}

.aside__price {
  margin: 0 auto 1.5rem;
}

.aside__offer {
  margin: 0 auto 5rem;
}

/*
* enroll
*/

.enroll {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.enroll_inner {
  padding: 2.8rem 1.4rem;
}

.enroll__title {
  text-align: center;
  max-width: 21.7rem;
  line-height: 3.064rem;
  font-size: 2.7rem;
  font-weight: 800;
  margin: 0 auto 1.6rem;
}

.enroll__call {
  font-size: 3.4rem;
}

.enroll__step {
  width: 8.5rem;
  height: 3.1rem;
  line-height: 3.1rem;
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: #1b0195;
  margin: 0 auto 1.2rem;
  font-size: 1.6rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 100%;
  height: 4.8rem;
  border-radius: 21px;
  font-size: 1.6rem;
  border: none;
  background-color: #eceef1;
  padding: 1.8rem;
}

.form__input::placeholder {
  color: black;
  font-weight: 500;
}

.form__group {
  margin-bottom: 0.9rem;
  flex: 1 1;
  width: 100%;
}

.form__submit {
  width: 100%;
  text-decoration: none;
  text-align: center;
  max-width: 30.2rem;
  line-height: 5.8rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 28px;
  color: white;
  background-image: linear-gradient(to top, #ff6a52 0%, #fd3675 100%);
  font-weight: 800;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}

/*
* offer
*/

.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 3rem;
}

.offer__flag {
  width: 4rem;
  height: 2.5rem;
}

.offer__text {
  width: 19rem;
  font-size: 1.4rem;
  color: white;
}

.offer__country {
  color: #fd3277;
}

/*
* price
*/

.price {
  font-size: 2.4rem;
  color: white;
}

.price__text {
  color: #fd3277;
}

/*
* marks
*/

.marks__inner {
  overflow: hidden;
}

.marks__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0 0 -1rem -1rem;
}

.marks__item {
  margin: 0 0 1rem 1rem;
}

/*
* profit
*/
.profit {
  background: linear-gradient(white 0%, white 57%, #130263 57%);
  padding-top: 1.1rem;
}

.profit__title {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;
  color: black;
  margin: 0 0 3.2rem 2rem;
}

.profit__profit-card {
  margin: 0 2rem;
}

/*
* profit-card
*/

.profit-card {
  height: 12.4rem;
  width: 24rem;
  box-shadow: 0 0 18px rgba(62, 39, 157, 0.4);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1.8rem 2rem 2.3rem;
}

.profit-card__inner {
}

.profit-card__title {
  color: black;
  font-weight: 800;
  font-size: 1.9rem;
  line-height: 1.9rem;
  margin-bottom: 0.6rem;
}

.profit-card__info {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #6b6b6b;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.profit-card__earned {
  color: #fd3675;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin: 0;
}

/*
* slick
*/

/*
*  popup
*/

.popup {
  position: relative;
  background: white;
  width: auto;
  max-width: 40rem;
  margin: 0 auto;
  border-radius: 4px;
  padding: 3rem 1.5rem;
}

.popup__header {
  text-align: center;
  font-size: 2.7rem;
  line-height: 2.7rem;
  font-weight: 800;
  margin: 0 auto 3rem;
}

.popup__text {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #eceef1;
  border-radius: 21px;
  padding: 1.8rem;
  margin: 0 0 1.5rem;
}

/* ====== Zoom effect ====== */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
