
.page {
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /*background-color: black;*/
}

.page::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(/img/background.jpg);
  background-position: center -3rem;
  background-repeat: repeat-x;
  content: '';
}

.page__inner {
  display: flex;
  justify-content: space-between;
}

.page__header {
  height: 9.9rem;
  margin-bottom: 4.2rem;
}

.page__content {
  max-width: 60rem;
  flex-shrink: 3;
  padding-bottom: 6.7rem;
}

.page__aside {
  flex-shrink: 5;
  padding-bottom: 3.8rem;
}

.page__profit {
  height: 22rem;
}
