.popup {
  position: relative;
  width: auto;
  max-width: 40rem;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
}

.popup__header {
  margin: 0 auto 3rem;
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 2.7rem;
  text-align: center;
}

.popup__text {
  padding: 1.8rem;
  margin: 0 0 1.5rem;
  background-color: #eceef1;
  border-radius: 21px;
  font-size: 1.6rem;
  font-weight: 500;
}
